//Bootstrap imports
@import "../bower_components/bootstrap-sass-twbs/assets/stylesheets/bootstrap";

//Modules
@import "modules/all";

//Partials
@import "partials/base";

//Page Templates

//Plugins



//General Styles
.fr{float: right;}
.fl{float: left;}
.clear { clear:both; }